@charset "UTF-8";
* {
    box-sizing: border-box;
  }
  
  body {
    background-image: linear-gradient(#1d3aad, #1d87ad);
    font-family: Helvetica, sans-serif;
  }
  
  /* La linea del tiempo vertical*/
  .timeline {
    position: relative;
    max-width: 1500px;
    margin: 0 auto;
  }
  
  /* Línea Vertical */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /*Contenedor*/
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* Bolas sección tiempo */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #6f9e86;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Contenedor izquierda*/
  .left {
    left: 0;
  }
  
  /* Contenedor Derecha*/
  .right {
    left: 50%;
  }
  
  /* Flecha derecha */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #d1d1d1;
  }
  
  /* Flecha Izquierda */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #d1d1d1 transparent transparent;
  }
  
  /* Ajusta la bola a la línea */
  .right::after {
    left: -16px;
  }
  
  .title {
    margin: 0% 20%;
    padding: 20px 60px;
    position: relative;
    border-radius: 6px;
    color: white;
    font-size: 35;
  }

  .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    border: 4px solid #d1d1d1;
  }
  
  .imgLe {
    width: -15%;
    margin: 1% 5%;
    position: absolute;
    background-color: white;
    padding: 20px 30px;
    right: 50%;  
    border-radius: 6px;
    border-right: 4px solid #d1d1d1;
  }

  .imgRi {
    width: 15%;
    margin: 1% 5%;
    position: absolute;
    background-color: white;
    padding: 20px 30px;
    left: 50%;  
    border-radius: 6px;
    border-left: 4px solid #d1d1d1;
  }

  /* Media queries - Responsive 600px */
  @media screen and (max-width: 600px) {
  
  .timeline::after {
    left: 31px;
  }
    
  /* Ancho completo container */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
    
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  .left::after, .right::after {
    left: 15px;
  }
    
  .right {
    left: 0%;
  }
  }